*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    position: fixed;
    top: 20px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px rgb(81, 174, 246), 1px 1px rgb(196, 74, 233);
}

.container{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    background: linear-gradient(30deg, #00ff88, #00f0ff, #2f06c2, #ff007f, #00ff88);
    /* background: linear-gradient(130deg, rgb(0, 255, 136), rgb(47, 6, 194), rgb(0, 240, 255), rgb(47, 6, 194)); */
    animation: rotate 1.2s linear infinite;
}

.container span{
    position: absolute;
    inset: 0;
    background: linear-gradient(130deg, #00ff88, #00f0ff, #2f06c2, #ff007f, #00ff88); 
    /* background: linear-gradient(130deg, rgb(0, 255, 136), rgb(47, 6, 194), rgb(0, 240, 255), rgb(47, 6, 194)); */
    border-radius: 50%;
}

.container span:nth-of-type(1){
    filter: blur(50px);
}
.container span:nth-of-type(2){
    filter: blur(100px);
}
.container span:nth-of-type(3){
    filter: blur(125px);
}
.container span:nth-of-type(4){
    filter: blur(150px);
}

.container::after{
    content: '';
    position: absolute;
    inset: 10px;
    background: black;
    border-radius: 50%;
}

@keyframes rotate{
    from { transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}